<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gamesky.card.dao.mapper.CodeMapper" >
  <resultMap id="BaseResultMap" type="com.gamesky.card.core.model.Code" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="card_id" property="cardId" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="used" property="used" jdbcType="BIT" />
    <result column="assigned" property="assigned" jdbcType="BIT" />
    <result column="game_id" property="gameId" jdbcType="INTEGER" />
    <result column="card_name" property="cardName" jdbcType="VARCHAR" />
    <result column="game_name" property="gameName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="assign_time" property="assignTime" jdbcType="BIGINT" />
    <result column="use_time" property="useTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, card_id, phone, code, used, assigned, game_id, card_name, game_name, create_time, 
    assign_time, use_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gamesky.card.core.model.CodeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitOffset != null and limitOffset>=0" >
      limit #{limitOffset}, #{limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from code
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from code
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gamesky.card.core.model.CodeExample" >
    delete from code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gamesky.card.core.model.Code" >
    insert into code (id, card_id, phone, 
      code, used, assigned, game_id, 
      card_name, game_name, create_time, 
      assign_time, use_time)
    values (#{id,jdbcType=INTEGER}, #{cardId,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{used,jdbcType=BIT}, #{assigned,jdbcType=BIT}, #{gameId,jdbcType=INTEGER}, 
      #{cardName,jdbcType=VARCHAR}, #{gameName,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{assignTime,jdbcType=BIGINT}, #{useTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.gamesky.card.core.model.Code" >
    insert into code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cardId != null" >
        card_id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="used != null" >
        used,
      </if>
      <if test="assigned != null" >
        assigned,
      </if>
      <if test="gameId != null" >
        game_id,
      </if>
      <if test="cardName != null" >
        card_name,
      </if>
      <if test="gameName != null" >
        game_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="assignTime != null" >
        assign_time,
      </if>
      <if test="useTime != null" >
        use_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cardId != null" >
        #{cardId,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="used != null" >
        #{used,jdbcType=BIT},
      </if>
      <if test="assigned != null" >
        #{assigned,jdbcType=BIT},
      </if>
      <if test="gameId != null" >
        #{gameId,jdbcType=INTEGER},
      </if>
      <if test="cardName != null" >
        #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="gameName != null" >
        #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="assignTime != null" >
        #{assignTime,jdbcType=BIGINT},
      </if>
      <if test="useTime != null" >
        #{useTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gamesky.card.core.model.CodeExample" resultType="java.lang.Integer" >
    select count(*) from code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update code
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cardId != null" >
        card_id = #{record.cardId,jdbcType=INTEGER},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.used != null" >
        used = #{record.used,jdbcType=BIT},
      </if>
      <if test="record.assigned != null" >
        assigned = #{record.assigned,jdbcType=BIT},
      </if>
      <if test="record.gameId != null" >
        game_id = #{record.gameId,jdbcType=INTEGER},
      </if>
      <if test="record.cardName != null" >
        card_name = #{record.cardName,jdbcType=VARCHAR},
      </if>
      <if test="record.gameName != null" >
        game_name = #{record.gameName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.assignTime != null" >
        assign_time = #{record.assignTime,jdbcType=BIGINT},
      </if>
      <if test="record.useTime != null" >
        use_time = #{record.useTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update code
    set id = #{record.id,jdbcType=INTEGER},
      card_id = #{record.cardId,jdbcType=INTEGER},
      phone = #{record.phone,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      used = #{record.used,jdbcType=BIT},
      assigned = #{record.assigned,jdbcType=BIT},
      game_id = #{record.gameId,jdbcType=INTEGER},
      card_name = #{record.cardName,jdbcType=VARCHAR},
      game_name = #{record.gameName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      assign_time = #{record.assignTime,jdbcType=BIGINT},
      use_time = #{record.useTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gamesky.card.core.model.Code" >
    update code
    <set >
      <if test="cardId != null" >
        card_id = #{cardId,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="used != null" >
        used = #{used,jdbcType=BIT},
      </if>
      <if test="assigned != null" >
        assigned = #{assigned,jdbcType=BIT},
      </if>
      <if test="gameId != null" >
        game_id = #{gameId,jdbcType=INTEGER},
      </if>
      <if test="cardName != null" >
        card_name = #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="gameName != null" >
        game_name = #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="assignTime != null" >
        assign_time = #{assignTime,jdbcType=BIGINT},
      </if>
      <if test="useTime != null" >
        use_time = #{useTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gamesky.card.core.model.Code" >
    update code
    set card_id = #{cardId,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      used = #{used,jdbcType=BIT},
      assigned = #{assigned,jdbcType=BIT},
      game_id = #{gameId,jdbcType=INTEGER},
      card_name = #{cardName,jdbcType=VARCHAR},
      game_name = #{gameName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      assign_time = #{assignTime,jdbcType=BIGINT},
      use_time = #{useTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>