<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gamesky.card.dao.mapper.H5GameMapper" >
  <resultMap id="BaseResultMap" type="com.gamesky.card.core.model.H5Game" >
    <id column="aid" property="aid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="game_pic" property="gamePic" jdbcType="VARCHAR" />
    <result column="game_intro" property="gameIntro" jdbcType="VARCHAR" />
    <result column="game_url" property="gameUrl" jdbcType="VARCHAR" />
    <result column="game_orientation" property="gameOrientation" jdbcType="VARCHAR" />
    <result column="game_iswx" property="gameIswx" jdbcType="BIT" />
    <result column="game_ishot" property="gameIshot" jdbcType="BIT" />
    <result column="game_banner" property="gameBanner" jdbcType="VARCHAR" />
    <result column="game_population" property="gamePopulation" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="recommend" property="recommend" jdbcType="BIT" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    aid, title, sort, game_pic, game_intro, game_url, game_orientation, game_iswx, game_ishot, 
    game_banner, game_population, create_time, update_time, recommend, platform, type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gamesky.card.core.model.H5GameExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from h5_game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitOffset != null and limitOffset>=0" >
      limit #{limitOffset}, #{limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from h5_game
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from h5_game
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gamesky.card.core.model.H5GameExample" >
    delete from h5_game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gamesky.card.core.model.H5Game" >
    insert into h5_game (aid, title, sort, 
      game_pic, game_intro, game_url, 
      game_orientation, game_iswx, game_ishot, 
      game_banner, game_population, create_time, 
      update_time, recommend, platform, 
      type)
    values (#{aid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{gamePic,jdbcType=VARCHAR}, #{gameIntro,jdbcType=VARCHAR}, #{gameUrl,jdbcType=VARCHAR}, 
      #{gameOrientation,jdbcType=VARCHAR}, #{gameIswx,jdbcType=BIT}, #{gameIshot,jdbcType=BIT}, 
      #{gameBanner,jdbcType=VARCHAR}, #{gamePopulation,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT}, #{recommend,jdbcType=BIT}, #{platform,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gamesky.card.core.model.H5Game" >
    insert into h5_game
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="gamePic != null" >
        game_pic,
      </if>
      <if test="gameIntro != null" >
        game_intro,
      </if>
      <if test="gameUrl != null" >
        game_url,
      </if>
      <if test="gameOrientation != null" >
        game_orientation,
      </if>
      <if test="gameIswx != null" >
        game_iswx,
      </if>
      <if test="gameIshot != null" >
        game_ishot,
      </if>
      <if test="gameBanner != null" >
        game_banner,
      </if>
      <if test="gamePopulation != null" >
        game_population,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="recommend != null" >
        recommend,
      </if>
      <if test="platform != null" >
        platform,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="gamePic != null" >
        #{gamePic,jdbcType=VARCHAR},
      </if>
      <if test="gameIntro != null" >
        #{gameIntro,jdbcType=VARCHAR},
      </if>
      <if test="gameUrl != null" >
        #{gameUrl,jdbcType=VARCHAR},
      </if>
      <if test="gameOrientation != null" >
        #{gameOrientation,jdbcType=VARCHAR},
      </if>
      <if test="gameIswx != null" >
        #{gameIswx,jdbcType=BIT},
      </if>
      <if test="gameIshot != null" >
        #{gameIshot,jdbcType=BIT},
      </if>
      <if test="gameBanner != null" >
        #{gameBanner,jdbcType=VARCHAR},
      </if>
      <if test="gamePopulation != null" >
        #{gamePopulation,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="recommend != null" >
        #{recommend,jdbcType=BIT},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gamesky.card.core.model.H5GameExample" resultType="java.lang.Integer" >
    select count(*) from h5_game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update h5_game
    <set >
      <if test="record.aid != null" >
        aid = #{record.aid,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.gamePic != null" >
        game_pic = #{record.gamePic,jdbcType=VARCHAR},
      </if>
      <if test="record.gameIntro != null" >
        game_intro = #{record.gameIntro,jdbcType=VARCHAR},
      </if>
      <if test="record.gameUrl != null" >
        game_url = #{record.gameUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.gameOrientation != null" >
        game_orientation = #{record.gameOrientation,jdbcType=VARCHAR},
      </if>
      <if test="record.gameIswx != null" >
        game_iswx = #{record.gameIswx,jdbcType=BIT},
      </if>
      <if test="record.gameIshot != null" >
        game_ishot = #{record.gameIshot,jdbcType=BIT},
      </if>
      <if test="record.gameBanner != null" >
        game_banner = #{record.gameBanner,jdbcType=VARCHAR},
      </if>
      <if test="record.gamePopulation != null" >
        game_population = #{record.gamePopulation,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.recommend != null" >
        recommend = #{record.recommend,jdbcType=BIT},
      </if>
      <if test="record.platform != null" >
        platform = #{record.platform,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update h5_game
    set aid = #{record.aid,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      game_pic = #{record.gamePic,jdbcType=VARCHAR},
      game_intro = #{record.gameIntro,jdbcType=VARCHAR},
      game_url = #{record.gameUrl,jdbcType=VARCHAR},
      game_orientation = #{record.gameOrientation,jdbcType=VARCHAR},
      game_iswx = #{record.gameIswx,jdbcType=BIT},
      game_ishot = #{record.gameIshot,jdbcType=BIT},
      game_banner = #{record.gameBanner,jdbcType=VARCHAR},
      game_population = #{record.gamePopulation,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      recommend = #{record.recommend,jdbcType=BIT},
      platform = #{record.platform,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gamesky.card.core.model.H5Game" >
    update h5_game
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="gamePic != null" >
        game_pic = #{gamePic,jdbcType=VARCHAR},
      </if>
      <if test="gameIntro != null" >
        game_intro = #{gameIntro,jdbcType=VARCHAR},
      </if>
      <if test="gameUrl != null" >
        game_url = #{gameUrl,jdbcType=VARCHAR},
      </if>
      <if test="gameOrientation != null" >
        game_orientation = #{gameOrientation,jdbcType=VARCHAR},
      </if>
      <if test="gameIswx != null" >
        game_iswx = #{gameIswx,jdbcType=BIT},
      </if>
      <if test="gameIshot != null" >
        game_ishot = #{gameIshot,jdbcType=BIT},
      </if>
      <if test="gameBanner != null" >
        game_banner = #{gameBanner,jdbcType=VARCHAR},
      </if>
      <if test="gamePopulation != null" >
        game_population = #{gamePopulation,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="recommend != null" >
        recommend = #{recommend,jdbcType=BIT},
      </if>
      <if test="platform != null" >
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gamesky.card.core.model.H5Game" >
    update h5_game
    set title = #{title,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      game_pic = #{gamePic,jdbcType=VARCHAR},
      game_intro = #{gameIntro,jdbcType=VARCHAR},
      game_url = #{gameUrl,jdbcType=VARCHAR},
      game_orientation = #{gameOrientation,jdbcType=VARCHAR},
      game_iswx = #{gameIswx,jdbcType=BIT},
      game_ishot = #{gameIshot,jdbcType=BIT},
      game_banner = #{gameBanner,jdbcType=VARCHAR},
      game_population = #{gamePopulation,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      recommend = #{recommend,jdbcType=BIT},
      platform = #{platform,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
</mapper>