<dl>
    <dt><a href="#"><img src="upload/headpic_mid.jpg"/></a></dt>
    <dd>
        <h5><a href="#">username</a> <span>17分钟前</span></h5>

        <p>

        </p>
    </dd>
</dl>
<div class="original_note">
    <h5><a href="#"></a>评论我的帖子<a href="#"></a></h5>
    <!--<h5><a href="#"></a>回复我的评论</h5>-->
    <!--<h5>我评论的帖子<a href="#"></a></h5> -->
    <!-- <h5>我回复<a href="#"></a>的评论</h5>-->
    <p></p>
</div>
<div class="button_box">
    <a href="javascript:;" class="blue_button feedback">回复</a>
    <a href="javascript:;" class="blue_button feedback_active">回复</a>
    <a href="javascript:;" class="red_button delete">删除</a>
</div>

<div class="user_message_textarea">
    <span class="arrow">
    <em></em>
    <i></i>
    </span>

    <div class="content">
    </div>
</div>
<script src="js/user_center_message_operate.js"></script>