<div class='comment_headpic'><img src='upload/headpic.jpg'/></div>
<div class='comment_content'><h6><span class="comment_username">UserName</span><span class="comment_date_floor"></span>
</h6>

    <p></p></div><a href='javascript:void(0)' class='button_feedback'>回复</a><a href='javascript:void(0)'
                                                                               class='button_feedback_active'>回复</a><a
        href='javascript:void(0)' class='button_up'>顶 (<span>1288</span>)</a>
<form class='comment_list_textarea'></form>
<script src='js/homepage_comment.js'></script>