<div class='comment_headpic'>
    <img src='upload/headpic.jpg'/>
</div>
<div class='comment_content'>
    <h6><span class="comment_username">UserName</span><span class="comment_date_floor"></span></h6>

    <p></p>

    <div class="comment_reply">
        <div class="comment_reply_headpic"><img src="upload/headpic.jpg"/></div>
        <div class="comment_repay_content">
            <h6 style="color:#999; font-size:12px;">原评论<span class="username">Username</span> 于<span class="date">2015-2-28 16:12</span>
                发表在<span class="floor">30楼</span></h6>

            <p></p>
        </div>
    </div>

</div>
<a href='javascript:void(0)' class='button_feedback'>回复</a>
<a href='javascript:void(0)' class='button_feedback_active'>回复</a>
<a href='javascript:void(0)' class='button_up'>顶 (<span>1288</span>)</a>
<a href="#" class="look_over">查看对话</a>
<form class='comment_list_textarea'></form>
<script src='js/homepage_comment.js'></script>               
