<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>帖子编辑页</title>
    <link href="css/general.css" rel="stylesheet" type="text/css"/>
    <link href="css/edit_note.css" rel="stylesheet" type="text/css"/>
    <script src="js/jquery.min.js"></script>
</head>

<body>
<div id="header">
    <div class="container">
        <img src="images/logo.png" class="logo"/>
        <a href="javascript:void(0);" class="button_blue register">注册</a><a href="javascript:void(0);"
                                                                            class="button_blue login">登录</a>

        <div class="search_box" style="margin-top:3px;">
            <form method="post" action="#"><input type="text" value="搜索帖子、用户"/><input type="submit" class="zoom"
                                                                                      value=""/></form>
        </div>
    </div>
</div>
<div id="main">
    <h2>我要发帖</h2>

    <div class="pub_title_box">
        <a href="#" class="pub_course_button">发帖教程</a>
        标题：<input type="text" class="title" maxlength="30" value="在这里输入标题，最多输入30个文字"/><br/><span style="float:left">所属兴趣：</span><input
            type="text" class="intst" value="可不选" readonly="readonly"/>

        <div class="intst_input" style="display:none"></div>
        <!--兴趣列表选项 -->
        <div class="intst_list">
            <a href="javascript:void(0);" class="shut_intst_list" style="line-height:12px; float:right;">x</a>
            <ul>
                <li>体育</li>
                <li><a href="javascript:void(0);">足球</a></li>
                <li><a href="javascript:void(0);">篮球</a></li>
                <li><a href="javascript:void(0);">网球</a></li>
                <li><a href="javascript:void(0);">健身/瑜伽</a></li>
            </ul>
            <ul>
                <li>摄影</li>
                <li><a href="javascript:void(0);">摄影</a></li>
                <li><a href="javascript:void(0);">航拍</a></li>
                <li><a href="javascript:void(0);">游记</a></li>
                <li><a href="javascript:void(0);">晒器材</a></li>
            </ul>
        </div>
        <!--兴趣列表选项结束 -->

    </div>
    <div style="clear:both"></div>
    <!--主体编辑区域开始 -->
    <div class="pub_edit_box">
        <div class="img_area"><!--图片操作区域 -->
            <div class="img_box"><!--加载图片和标签的盒子 -->
                <!--标签框开始 -->
                <img src="upload/eg.jpg"/>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="copyright">&copy;2015-2016 gamesky.com All Rights Reserved</div>
</div>
</body>
<script src="js/focus-blur.js"></script>
<script src="js/edit_note.js"></script>
</html>
