<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>通用版式</title>
    <link href="css/general.css" rel="stylesheet" type="text/css"/>
    <script src="js/jquery-1.11.2.min.js"></script>
</head>

<body>
<div id="header">
    <div class="container">
        <img src="images/logo.png" class="logo"/>
        <a href="#" class="button_blue register" style="display:none">注册</a><a href="#" class="button_blue login"
                                                                               style="display:none">登录</a>
        <!-- 登录状态-->
        <div class="logged">
            <a href="#" class="user_info"><img src="headpic.jpg"/>韩老尸card</a>
            <a href="#" class="letter"><span class="light"><!--如果有消息提示显示此呼吸灯 --></span></a>

            <div class="letter_box">
                <div>系统消息 <a href="#">999</a></div>
                <div>站内信 <a href="#">999</a></div>
            </div>
        </div>
        <div class="search_box">
            <form method="post" action="#"><input type="text" value="搜索帖子、用户"/><input type="submit" class="zoom"
                                                                                      value=""/></form>
        </div>
    </div>
</div>
<div id="main">
    <h2>每天精彩推荐</h2>
</div>
<div id="footer">
    <div class="copyright">&copy;2015-2016 gamesky.com All Rights Reserved</div>
</div>
</body>
<script s src="js/general.js"></script>
<script src="js/focus-blur.js"></script>
</html>
